.sign-in {
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
